/** @format */

h1 {
  font-weight: normal;
}

/*  */

:root {
  --gray: rgb(225, 225, 225);
  --white: rgb(252, 252, 252);
  --light: rgb(246, 246, 246);
  --black: black;
  --light-yellow: rgb(234, 255, 203);
  --transparent: rgba(0, 0, 0, 0);
  --text-body: rgb(132, 44, 44);
}

.gray {
  background-color: var(--gray);
}

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}

.light {
  background-color: var(--light);
}

.transparent {
  background-color: var(--transparent);
}

.text-body {
  color: var(--text-body);
}

/*  */

.container {
  max-width: 1600px;
}

/*  */

table tr td,
table tr th {
  background-color: var(--transparent) !important;
}

[data-href] {
    cursor: pointer;
}